{% extends "views/_base/base.html" %}

{% block introduction %}
  <h1>Web Components</h1>

  <p>Web components are a set of web platform APIs that allow you to create new custom, reusable, encapsulated HTML tags to use in web pages and web apps.</p>
{% endblock %}

{% block exercises %}
  <h2>Exercises</h2>

  <ul>
    <li><a href="/exercise-1">Exercise 1: [TITLE]</a></li>
  </ul>
{% endblock %}

{% block presentation %}
  <h2>Presentation</h2>

  <div class="cc-presentation">
    {# TODO: add url of Google Slides presentation #}
    <iframe src="[URL]" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
{% endblock %}

{% block stream %}
  <h2>Stream</h2>

  <div class="cc-stream">
    {# TODO: add url of YouTube stream #}
    <iframe width="560" height="315" src="[URL]" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
{% endblock %}
